{% load static %}

<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static 'stylesheets/feed.css' %}">
    <title> Instagram Clone </title>
    <link rel="icon" href={%static "images/insta_icon.png" %}>
  </head>

  <body>
    <div id="wrapper">
      <div class="header">
        <a class="submit" href="loginpage.html"> <b> Log out </b> </a>
        <a class="image" href="feed.html"> <img id = "logo" src={%static "images/instawpic.png" %}> </a>
        <a class="image2" href="profile.html"> <img id = "profid" src={%static "images/profilebtn.png" %}> </a>
        <!-- <input type="text" placeholder="Search"> -->
      </div>
    </div>
    FEED
  </body>

</html>
