<div id="wrapper">
  <div class="main-content">
    <div class="header">
      <img src="https://i.imgur.com/zqpwkLQ.png">
    </div>
    <div class="welcome-text">
        <b> Sign up to see photos from <br> your friends.</b>
    </div>
    </br>
    <div class="signup-part">
      <input type="email" placeholder="Email" class="input-1"/>
      <div class="overlap-text1">
        <input type="text" placeholder="Full Name" class="input-2"/>
      </div>
      <div class="overlap-text2">
        <input type="text" placeholder="Username" class="input-3"/>
      </div>
      <div class="overlap-text3">
        <input type="password" placeholder="Password" class="input-4"/>
      </div>
      </br>
      <input type="button" value="Sign Up" class="btn"/>
    </div>
  </div>
  </br>
  <div class="sub-content">
    <div class="login-part">
      Have an account? Log in
    </div>
  </div>
</div>
