<div id="wrapper">
  <div class="main-content">
    <div class="header">
      <img src="https://i.imgur.com/zqpwkLQ.png" />
    </div>
    </br>
    <div class="login">
      <input type="text" name="identifier" placeholder="Email or Username" class="input-1" />
      <div class="overlap-text">
        <input type="password" placeholder="Password" class="input-2" />
      </div>
    </br>
      <input type="button" value="Log in" class="btn" />
    </br> </br>
      Forgot password?
    </div>
  </div>
  </br>
  <div class="sub-content">
    <div class="signup">
      Don't have an account? Sign up
    </div>
  </div>
</div>
